.c-company-name {
	margin-bottom: 10px;
	margin-right: 20px;
	@media (min-width: $s) {
		margin-right: 0;
	}
	& img {
		display: block;

		max-width: 100%;
		@media (min-width: $s) {
			max-width: 100%;
			width: 320px;
		}
	}
}

.c-logo {
	position: relative;
	max-width: 95px;
	z-index: 2;
	transition: opacity 0.2s 0.3s;
	& svg {
		display: block;
		max-width: 100%;
		height: 85px;
		@include media($s) {
			height: auto;
		}
	}
	@media (min-width: $s) {
		max-width: 140px;
		z-index: 5;
		transition: z-index 0s 0.7s ;
		.js-nav-open &{
			opacity: 0;
			z-index: 2;
			transition: opacity 0.2s, z-index 0s 1s ;
		}
	}
}

.c-header-info {
	display: flex;
	position: absolute;
	flex-direction: column;
	left: 46px;
	top: 4px;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	opacity: 1;
	visibility: visible;
	//transition: visibility 0s 0.3s, opacity 1s;
	z-index: 4;
	@media (min-width: $s) {
		top: 16px;
		left: 46px;
		font-size: 24px;
	}
	&_fixed {
		opacity: 0;
		visibility: hidden;
		position: fixed;
		z-index: 6;
		transition: visibility 0.4s ease 0s, opacity 0.4s ease 0s;
		.js-nav-open & {
			opacity: 1;
			visibility: visible;
			transition: visibility 0.4s ease .3s, opacity 0.4s ease .3s;
		}
	}
	&__logo {
		opacity: 0;
		transform: translate(0, 10px);
		padding: 4px 2px 0 4px;
		& svg {
			display: block;
			max-width: 100%;
			height: auto;
			width: 135px;
			@media (min-width: $s) {
				width: 168px;
			}
			.fill {
				fill: currentColor;
			}
		}
		@media (min-width: $s) {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			padding-bottom: 4px;
		}
	}
	&__tagline {
		margin: 2px 0 0;
		opacity: 0;
		font-size: 9px;
		transform: translate(0, 10px);
		letter-spacing: 2px;
		@media (min-width: $s) {
			margin-left: 15px;
			margin-top: 0;
		}
	}
	&__white {
		color: #fff;
		& svg {
			.logo {
				fill: #fff;
			}
		}
	}
	&__gray {
		color: #3a3b3c;
		& svg {
			.logo {
				fill: #3a3b3c;
			}
		}
	}
}

.js-nav-open .c-header-info:not(.c-header-info_fixed) {
	opacity: 0;
	visibility: hidden;
}

.c-vertical-bar {
	position: fixed;
	height: 100vh;
	width: 39px;
	transition: transform ease-in-out 0.5s 0.4s;
	transform: scaleY(0);
	transform-origin: 0 0;
	z-index: 8;
	@media (min-width: $s) {
		transform: scaleY(1);
	}
	&__logo {
		width: 134px;
		height: 120px;
		position: absolute;
		left: -3px;
		top: 55%;
		display: none;
		@include media($s) {
			display: block;
			transform: translateX(-100%);
			transition: transform 0.3s ease-in-out;
		}
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-red;
		transform: translate(0, -100%);
	}
	.js-nav-open & {
		transform: scaleY(1);
		transition: transform ease-in-out 0.5s ;
	}
	&[data-loaded] {
		.c-vertical-bar__logo {
			transform: translateX(0%);
		}
	}
}

.c-callout {
	&__button{
		font-family: $font-bold;
		&_center{
			text-align: center;
		}
		&_left{
			text-align: left;
		}
		&_right{
			text-align: right;
		}
	}
}

.c-employee-card{
	display: flex;
	padding: 60px 0;
	max-width: 660px;
	border-top: 2px solid $color-gray;
	@media (min-width: $m) {
		border-bottom: 2px solid $color-gray;
	}
	&__image{
		width: 100px;
		//height: 100px;
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		img {
			display: block;
			max-width: 100%;
			position: relative;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
		}
	}
	&__info{
		padding-left: 20px;
		@media (min-width: $s) {
			padding-left: 30px;
		}
	}
	&__text{
		margin-top: -6px;
		margin-bottom: 18px;
		max-width: 180px;
		font-family: $font-black;
		font-size: 17px;
		line-height: 24px;
		@media (min-width: $s) {
			max-width: 375px;
			font-size: 19px;
		}
	}
	.c-button{
		font-size: 15px;
		@media (min-width: $s) {
		}
	}
}

.c-career-list{
	.col-xs-12:first-child>&{
		padding-bottom: 60px;
		@media (min-width: $s) {
			padding-bottom: 0;
		}
	}

}

.c-text-callout-with-button{
	text-align: center;
	padding: 50px 0;
	margin: 0 20px;
	border-top: 11px solid $color-border-light ;
	@media (min-width: $s) {
		margin: 0 90px 0 100px;

		text-align: left;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__title{
		margin: 0;
		padding-right: 20px;
		padding-bottom: 30px;

		text-align: center;
		font-family: $font-bold;
		font-size: 20px;
		line-height: 22px;
		@media (min-width: $s) {
			padding-bottom: 0;
			font-size: 30px;
			line-height: 30px;
		}
	}
}

.c-post-content{
	h3{
		margin-bottom: 35px;
		font-size: 15px;
		line-height: 26px;
		letter-spacing: 0.09em;
		font-family: $font-bold;
		@media (min-width: $s) {
			font-size: 18px;
		}
	}

	p{
		font-size: 15px;
		line-height: 25px;
		@media (min-width: $s) {
			font-size: 16px;
			line-height: 26px;
			letter-spacing: 0.02em;
		}
	}

}

@keyframes reveal {
	from { transform: scale(0.001); }
	to { transform: scale(1); }
}

@keyframes slide {
	to { transform: translateX(1.5em) }
}

.с-loader-ellipse {
	font-size: 15px;
	position: relative;
	width: 4em;
	margin: 0;
	height: 0;
	transition: height .1s ease-in-out 0s, margin .1s ease-in-out 0s, opacity .4s ease-in-out 0s;
	overflow: hidden;
	opacity: 0;
	&.js-show {
		opacity: 1;
		height: 1em;
		margin: 80px auto;
	}
	&__dot {
		display: block;
		width: 1em;
		height: 1em;
		border-radius: 0.5em;
		background: $color-red;
		position: absolute;
		animation-duration: 0.5s;
		animation-timing-function: ease;
		animation-iteration-count: infinite;
		&:nth-child(1) {
			left: 0;
			animation-name: reveal;
		}
		&:nth-child(2) {
			left: 0;
			animation-name: slide;
		}
		&:nth-child(3) {
			left: 1.5em;
			animation-name: slide;
		}
		&:nth-child(4) {
			left: 3em;
			animation-name: reveal;
			animation-direction: reverse;
		}
	}
}

[data-fade-in] {
	@include fade('hide');
	.js-in & {
		@include fade('show', .4s);
	}
}
[data-slide-up] {
	@include v-out();
	[data-duration-0s],
	[data-duration-00s],
	[data-duration-01s],
	[data-duration-02s],
	[data-duration-03s],
	[data-duration-04s],
	[data-duration-05s],
	[data-duration-06s],
	[data-duration-07s],
	[data-duration-08s] {
		@include v-out();
	}
	.js-in & {
		@include v-in();
		[data-duration-0s],
		[data-duration-00s] {
			@include v-in(0, .4s, 0s);
		}
		[data-duration-01s] {
			@include v-in(0, .4s, .15s);
		}
		[data-duration-02s] {
			@include v-in(0, .4s, .25s);
		}
		[data-duration-03s] {
			@include v-in(0, .4s, .35s);
		}
		[data-duration-04s] {
			@include v-in(0, .4s, .45s);
		}
		[data-duration-05s] {
			@include v-in(0, .4s, .55s);
		}
		[data-duration-06s] {
			@include v-in(0, .4s, .65s);
		}
		[data-duration-07s] {
			@include v-in(0, .4s, .75s);
		}
		[data-duration-08s] {
			@include v-in(0, .4s, .85s);
		}
	}
}
