.c-poster {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include bg-cover();
	z-index: -2;
	display: block;
	@include media(min-width $l + 1px) {
		display: none;
	}
	&_bg {
		display: block;
	}
}

.c-blur-media {
	z-index: -1;
	height: 100%;
	width: 100%;
}

.iframe-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	overflow: hidden;
	iframe {
		background-color: #000000;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1.1);
		width: 100vw;
		height: 66.666vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 - adjusted to meet client provided video aspect*/
		min-height: 100vh;
		min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
	}
}