.c-button {
	display: inline-block;
	position: relative;
	padding: 13px 39px 13px 24px;
	background-color: $color-red;
	font-size: 13px;
	letter-spacing: 0.1em;
	font-family: $font-bold;
	text-transform: uppercase;
	color: #fff;
	z-index: 1;
	cursor: pointer;
	& span {
		position: relative;
	}
	@include media($l) {
		&:hover::before {
			transform: scale(1);
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scale(0);
		background: #000000;
		opacity: 0.2;
		transition: ease-out 0.15s;
	}

	&:after {
		content: "";
		position: absolute;
		top: calc(50% - 6px);
		right: 15px;
		width: 9px;
		height: 12px;
		background-image: url("../images/Button__arrow.svg");
		background-size: contain;
		background-repeat: no-repeat;
	}
	&_large {
		font-size: 17px;
		padding: 16px 60px 16px 42px;
		&:after{
			right: 35px;
		}
	}
	&_extra-large {
		font-size: 21px;
		padding: 25px 75px 25px 55px;
		&:after{
			top: calc(50% - 7px);
			width: 13px;
			height: 14px;
			right: 40px;
		}
	}
	&_scroll {
		padding: 19px;
		&:after {
			transform: rotate(90deg);
		}
	}

}

.c-btn-play {
	cursor: pointer;
	width: 5em;
	height: 5em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../images/icon-play-slider.png');
	transform: scale(1);
	transition: transform .4s ease-in-out 0s;
	@include media($l) {
		&:hover {
			transform: scale(1.05);
		}
	}
}

.c-back-button{
	display: inline-block;
	font-family: $font-bold;
	color: $color-red;
	text-transform: uppercase;
	font-size: 15px;
	@media (min-width: $s) {
		font-size: 18px;
	}
	&:before {
		content: "<";
		padding-right: 10px;
		@media (min-width: $s) {
			padding-right: 15px;
		}
	}
}
