.c-career-post {
	position: relative;
	@include parent-size();
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(255, 255, 255, .8);
	background-color: $color-red;
	@include media($s) {
		height: 100%;
	}
	&__background {
		@include fill();
		@include bg-cover();
		&_default {
			background-image: url('../images/career-post-bg.jpg');
		}
	}
	h2 {
		position: relative;
		font-size: 1.3em;
		font-family: $font-bold;
		line-height: 1.1em;
		text-align: center;
		max-width: 90%;
		margin: 0 22.5%;
		text-transform: uppercase;
		font-weight: normal;
		letter-spacing: 2px;
		@include media($l) {
			line-height: 1.3em;
			max-width: 55%;
		}
	}
}