.c-case-studies {
	&__inner {
		> div {
			padding: 20px;
		}
		@media (min-width: $s) {
			display: flex;
			justify-content: center;
			> div {
				flex: 1;
				padding: 40px;
			}
		}

		&.layout-img_right {
			@media (min-width: $s) {
				flex-direction: row-reverse;
			}
		}

	}
	&:nth-child(2n) .c-case-studies__inner {
		@media (min-width: $s) {
			flex-direction: row-reverse;
		}		
	}		

	&__photo {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 300px;
	}
	&__about {
		background-color: $color-bg-light;
	}
	&__logo {
		max-width: 170px;
		margin-bottom: 25px;
		@media (min-width: $s) {
			max-width: 217px;
		}
	}
	&__button {
		padding: 40px 0 50px 0;
		@media (min-width: $s) {
			padding: 15px 0;
		}
	}
}