.c-column-content {
	&__title-background {
		height: 100px;
		display: flex;
		align-items: center;
		background-color: #e3df88;
		text-transform: uppercase;
		@media (min-width: $xl) {
			height: 123px;
		}
	}
	&__title{
		 margin: 0;
		 padding: 20px 33px;
		 font-size: 20px;
		 line-height: 22px;
		 letter-spacing: 0;
		 font-family: $font-bold;
		 @media (min-width: $m) {
			 padding: 20px 16px;
			 font-size: 15px;
			 line-height: 17px;
		 }
		 @media (min-width: $xl) {
			 padding-left: 33px;
			 font-size: 20px;
			 line-height: 22px;
		 }
	}
	&__content {
		padding: 20px 28px;
		@media (min-width: $m) {
			padding-left: 16px;
		}
		@media (min-width: $xl) {
			padding: 30px 28px 30px 33px;
		}
		&>*:last-child{
			margin: 0;
		}
	}
}