.c-contact-info{
	font-family: $font-black;
	text-transform: uppercase;
	&__heading{
		margin-bottom: 37px;
		font-size: 20px;
		line-height: 38px;
		letter-spacing: -0.02em;
		@media (min-width: $m) {
			margin-bottom: 65px;
			font-size: 36px;
		}
	}
	&__email{
		color: $color-blue;
		font-size: 14px;
		line-height: 14px;
		letter-spacing: 1px;
		@media (min-width: 375px) {
			font-size: 20px;
			line-height: 20px;
		}
		@media (min-width: $m) {
			font-size: 25px;
			transition: color 0.3s;
			&:hover{
				color: $color-red;
			}
		}
	}
	&__phone{
		margin-bottom: 35px;
		font-size: 20px;
		line-height: 25px;
		font-family: $font-body;
		transition: color 0.3s;
		@media (min-width: $m) {
			font-size: 24px;
		}
		&__transference {
			color: $color-gray;
			padding: 0 10px;
		}
		a {
			color: $color-text;
			transition: color .4s ease 0s;
			display: block;
			margin-bottom: 10px;
			@include media($xs) {
				margin-bottom: 0;
				display: inline-block;
			}
			span{
				color: $color-gray;
				display: inline-block;
				padding-right: 5px;
			}
			@media (min-width: $m) {
				font-family: $font-medium;
			}
			&:last-child {
				margin-bottom: 0;
			}
			&:hover{
				color:$color-red;
			}
		}
	}
	&__social-media{
		font-size: 20px;
		padding-bottom: 40px;

		@media (min-width: $m) {
			padding-bottom: 70px;
			display: flex;
			align-items: center;
		}
		p{
			margin-bottom: 40px;
			@media (min-width: $m) {
				margin-bottom: 0;
			}
		}
		a{
			margin-right: 16px;
			@media (min-width: $m) {
				margin-right: 0;
				margin-left: 20px;


			}
		}
	}

	&__link{
		svg{
			fill: $color-gray;
			transition: fill .3s ease 0s;
		}
		&:hover{
			svg{
				fill: $color-red;
			}
		}

	}

}
