.c-featured-blog-post {
	@include parent-size;
	position: relative;
	&__image {
		@include parent-size;
		@include bg-cover;
		display: block;
	}
	&__footer {
		@extend .c-media-swiper__footer;
	}
}
.c-feature-blog-post-info {
	padding: 30px 0;
	width: 100%;
	color: #fff;
	margin-bottom: 20px;
	@include media($s) {
		display: flex;
		justify-content: space-between;
		padding: 60px 0;
		margin-bottom: 0;
	}
	@include media($s) {
		&__item {
			flex: 0 1 75%;
			&:last-child {
				flex: 0 1 25%;
				display: flex;
				flex-flow: column wrap;
				justify-content: space-between;
				padding-left: 50px;
				align-items: flex-end;
			}
		}
	}
	&__title {
		font-family: $font-bold;
		font-size: 1.5em;
		margin-bottom: .12em;
		position: relative;
		@include media($s) {
			font-size: 5.5em;
		}
		span {
			position: absolute;
			top: -15px;
			left: 0;
			text-transform: uppercase;
			font-family: $font-medium;
			font-size: .5em;
			font-weight: normal;
			letter-spacing: .1em;
			@include media($s) {
				left: 4px;
				top: -25px;
				font-size: .26em;
			}
		}
	}
	p {
		font-family: $font-light;
		font-size: .8em;
		margin-bottom: 0;
		padding-left: 0;
		@include media($s) {
			padding-left: 4px;
			font-size: 1.3em;
		}
	}
	&__author {
		font-size: .9em;
		margin: 20px 0;
		display: block;
		text-transform: uppercase;
		@include media($s) {
			margin: 20px 0 0;
			display: inline-block;
		}
	}
}