.c-featured-post {
	position: relative;
	overflow: hidden;
	@include flex-center();
	justify-content: center;
	padding: 100px 0;
	@include media($s) {
		padding: 0;
		//height: 55vh;
	};
	&_medium {
		@include media($s) {
			//padding: 50px 0;
			//height: calc(27.5vh - 6px);
		};
	}
	&__background {
		@include fill;
		@include bg-cover;
				
		&.blog:before {
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: rgba(0, 0, 0, .6);
		}
	}
	&__content {
		position: relative;
		color: #fff;
		flex: 0 1 72%;
		@include media($s) {
			padding: 190px 0;
		};
		.c-featured-post_medium & {
			@include media($s) {
				padding: 50px 0;
				//height: calc(27.5vh - 6px);
			};
		}
		h2 {
			font-size: 1.8em;
			font-family: $font-black;
			margin-bottom: 25px;
			font-weight: normal;
			text-transform: uppercase;
			margin-top: 0;
			@include media($s) {
				font-size: 2em;
				margin-bottom: 45px;
			}
			@include media($xl) {
				font-size: 2.8em;
			}
			span {
				font-family: $font-light;
				color: #cfcdc9;
				display: block;
				font-size: .51em;
				padding-bottom: 5px;
				@include media($s) {
					padding-bottom: 15px;
				}
			}
		}
		span {
			font-size: 1.1em;
			text-transform: uppercase;
		}
	}
}