.c-featured-media {
    position: relative;
    overflow: hidden;
    min-height: 250px;
    @include media($s) {
        height: 40vw;
        max-height: 640px;
    }
    &__background {
        @include fill;
        @include bg-cover;
    }
    &__overlay {
        position: relative;
        height: 100%;
        min-height: 250px;
        @include flex-center();
        background: rgba(0,0,0,.5);
        @include media($s) {
            @include fade(hide, .4s);
            @include fill;
        };
    }
    &__content {
        position: relative;
        padding: 55px 20px;
        @include media($s) {
            @include fade(hide, .4s);
            padding: 20px 80px;
            max-width: calc(50% + 160px);
        };
    }
    &__cta {
        * + & {
            margin-top: 25px;
            @include media($s) {
                margin-top: 35px;
            };
        }
    }
    &:hover & {
        &__overlay {
            @include fade(show, .4s);
        }
        &__content {
            @include fade(show, .4s, .2s);
        }
    }
}

.c-image-card {
	@include bg-cover;
	min-height: 250px;
	width: 100%;
	height: 100%;
    @include media($s) {
        min-height: 25vw;
    };
}
[data-three-column-images] {
  .c-image-card {
    height: auto;
    min-height: 0;
    @include media($s) {
      min-height: 0;
    }
  }
}

.c-text-card {
    min-height: 250px;
	width: 100%;
	height: 100%;
    @include flex-center;
    @include media($s) {
        min-height: 25vw;
    };

    &__content {
        padding: 20px;
        @include media($s) {
            padding: 40px;
        };
    }

}
