.c-filter-bar {
	height: 28px;
	transition: transform cubic-bezier(0.66, 0.13, 0.15, 0.59) 0.3s 0s,
				opacity ease-in-out 0.3s 0s, visibility 0s 0s,
				height .4s ease-in-out 0s !important;
	position: relative;
	@include media($s) {
		display: flex;
	}
	@include media(max-width $s - 1px) {
		overflow: hidden;
	}
	&:before {
		content: '';
		width: 19px;
		height: 15px;
		background-image: url('../images/dropdown-arrow.svg');
		@include bg-cover;
		position: absolute;
		right: 0;
		top: 7px;
		transform: rotateX(0);
		transition: transform .4s ease-in-out 0s;
		z-index: -1;
		@include media($s) {
			display: none;
		}
	}
	> li {
		cursor: pointer;
		padding: 5px 5px 5px 0;
		@include media($s) {
			font-size: 1.5em;
			margin-right: 34px;
			padding: 0;
			&:last-child {
				margin-right: 0;
			}
		}
		&:first-child {
			color: #cfcdc9;
			text-transform: uppercase;
			@include media($s) {
				display: none;
			}
			span {
				color: #000;
				text-transform: none;
				position: relative;
				z-index: -1;
			}
		}
		> span {
			font-family: $font-bold;
			font-size: 1em;
			color: #cfcdc9;
			transition: color .4s ease 0s;
			&.active {
				color: #000;
			}
		}
		@include media($s) {
			&:hover > span {
				color: #000;
			}
		}
	}
	&_work {
		li {
			@include media($s) {
				&:hover > span {
					color: $color-red;
				}
			}
		}
	}
	&.open {
		&:before {
			transform: rotateX(180deg);
		}
	}
}

.c-sub-filter-bar {
	> div {
		flex: 1 1 100%;
		padding: 10px 30px 0;
		display: none;
		@include media($s) {
			display: block;
			padding: 0 60px 60px;
		}
	}
	.c-filter-bar & {
		> div {
			display: block;
			@include media($s) {
				display: none;
			}
		}
	}
	ul {
		@include media($s) {
			display: flex;
		}
		> li {
			cursor: pointer;
			padding-bottom: 10px;
			@include media($s) {
				padding-bottom: 0;
			}
			i {
				font-style: normal;
				display: inline-block;
				@include media($s) {
					padding: 0 5px;
				}
				@include media($l) {
					padding: 0 15px;
				}
				@include media($xl) {
					padding: 0 35px;
				}
			}
			span {
				font-family: $font-bold;
				color: #cfcdc9;
				transition: color .4s ease 0s, font-family .4s ease 0s;
				@include media($s) {
					font-family: $font-body;
					color: $color-text;
				}
			}
			span.active {
				color: $color-red;
			}
			@include media($s) {
				&:hover {
					span {
						color: $color-red;
					}
				}
			}
			&:last-child {
				padding-bottom: 0;
			}
		}
	}
}