.c-filterable-post {
	overflow: hidden;
	width: 101%;
	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 120px 11%;
		width: 100%;
		height: 100%;
		@include bg-cover();
		@include media($s) {
			// background-image: none !important;
		}
		@include media($s) {
			padding: 60px 11%;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .4);
			opacity: 1;
			transition: opacity .3s ease 0s;
			@include media($s) {
				opacity: 0;
			}
		}
	}
	&[data-color-red] {
		.c-filterable-post__inner::after {
			background-color: rgba(253, 36, 31, .6);
		}
	}
	&[data-color-blue] {
		.c-filterable-post__inner::after {
			background-color: rgba(1, 178, 196, .6);
		}
	}
	&[data-color-yellow] {
		.c-filterable-post__inner::after {
			background-color: rgba(209, 217, 72, .6);
		}
	}
	&[data-color-grey] {
		.c-filterable-post__inner::after {			
			@include media($s) {
				background-color: rgba(210, 207, 202, .6);
			}			
		}
	}
	&__image-blur {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		display: none;
		.svg-image {
			width: auto;
			height: 100%;
			&_blur {
				transition: opacity .2s ease .5s;
				opacity: 0;
			}
		}
		.is-ie & {
			display: none;
			@include media($s) {
				display: block;
			}
		}
	}
	&__image {
		opacity: 1;
		visibility: visible;
		z-index: -3;
		height: 110%;
		width: 110%;
		@include bg-cover();
		position: absolute;
		top: -5%;
		left: -5%;
		transition: filter .4s ease 0s;
		filter: blur(0);
		.is-ie & {
			display: none;
		}
	}
	&__image-size {
		width: auto;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		opacity: 0;
		visibility: hidden;
		position: absolute;
		display: none;
		.is-ie & {
			display: block;
		}
	}
	&__content {
		color: #ffffff;
		position: relative;
		z-index: 2;
		text-align: center;
		
		.c-button {
			opacity: 0;						

			@include media($s) {
				opacity: 1;
			}
		}
		
		p {
			font-family: $font-medium;
			font-size: 15px;
			line-height: 1.5em;
			letter-spacing: 0.02em;
			margin-bottom: 35px;
			@include media($s) {
				@include v-out(15px, .3s, .2s);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			@include media($s) {
				@include v-out(20px, .3s, 0s);
			}
		}
	}
	&__logo {
		opacity: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 10%;
		top: 25%;
		width: 80%;
		height: 50%;
		@include bg-cover();
		background-size: contain;
		transition: opacity .3s ease .5s;
		z-index: 1;
		span {
			margin: 0 auto;
			text-align: center;
			font-family: $font-medium;
			font-size: 21px;
			line-height: 1.5em;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #fff;
			width: 70%;
		}
	}
	&[data-type='pain_point'] {
		.c-filterable-post__background {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			@include bg-cover();
			&-hover {
				opacity: 0;
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				@include bg-cover();
				transition: opacity .3s ease 0s;
			}
		}
	}

	&:hover {
		.svg-image {
			&_blur {
				opacity: 0;
				transition: opacity .3s ease 0s;
				@include media($s) {
					opacity: 1;
				}
			}
		}
		.c-filterable-post {
			&__logo {
				opacity: 0;
				transition: opacity .3s ease 0s;
			}
			&__content {
				p {
					@include v-in(0, .3s, .2s);
				}
				a {
					@include v-in(0, .3s, .4s);
				}
			}
			&__inner {
				&:after {
					opacity: 1;
					transition: opacity .3s ease .2s;
				}
			}
			&__image {
				filter: blur(4px);
			}
		}
		.c-filterable-post__background {
			&-hover {
				opacity: 1;
				transition: opacity .3s ease .2s;
			}
		}
	}
}
