.c-form-wrap {
	background-color: $color-bg-light;
	height: 100%;
	h2 {
		font-family: $font-black;
		font-size: 1.68em;
		margin-bottom: 10px;
	}
	[data-editor] {
		margin-bottom: 20px;
	}
}
.c-form {
	input:not([type="submit"]),
	textarea {
		width: 100%;
		border: 1px solid #9e9e9e;
		resize: none;
		line-height: 40px;
		height: 40px;
		padding-left: 10px;
		font-family: $font-medium;
		font-size: 1em;
		background-color: #fff;
		border-radius: 0;
		-webkit-appearance: none;
		@include placeholder() {
			font-family: $font-body;
			font-size: 1em;
			opacity: 1;
			color: $color-gray;
		}
	}

	// Reposition Google invisible reCaptcha	
	form.include-invisible-recaptcha {
		display: flex;
		flex-direction: column;

		.gform_body {
			order: 1;
		}

		.inv-recaptcha-holder {
			order: 2;
			margin: 30px 0 20px;
		}

		.gform_footer {
			order: 3;
		}
	}

	input[type="checkbox"] {
		opacity: 0;
		height: 0;
		width: 0;
		& + label {
			display: inline-block;
			position: relative;
			padding-left: 35px;
			line-height: 27px;
			margin-bottom: 23px;
			&:before {
				content: '';
				position: absolute;
				left: -5px;
				top: 0;
				width: 25px;
				height: 25px;
				border: 1px solid $color-text;
				background-color: #fff;
				transition: border .4s ease 0s, background-color .4s ease 0s;
			}
			&:after {
				content: '';
				position: absolute;
				left: 1px;
				top: 6px;
				background-image: url('../images/icon-check.svg');
				width: 16px;
				height: 16px;
				@include bg-cover();
				opacity: 0;
				transition: opacity .4s ease 0s;
			}
		}
		&:checked + label {
			&:before {
				border-color: $color-red;
				background-color: $color-red;
			}
			&:after {
				opacity: 1;
			}
		}
	}
	input[type="radio"] {
		opacity: 0;
		height: 0;
		width: 0;
		& + label {
			display: inline-block;
			position: relative;
			padding-left: 40px;
			line-height: 27px;
			margin-bottom: 23px;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 25px;
				height: 25px;
				border: 1px solid $color-text;
				background-color: #fff;
				border-radius: 100%;
				transition: border .4s ease 0s, background-color .4s ease 0s;
			}
			&:after {
				content: '';
				position: absolute;
				left: 8.5px;
				top: 7.5px;
				background-color: #fff;
				border-radius: 100%;
				width: 10px;
				height: 10px;
				@include bg-cover();
				opacity: 0;
				transition: opacity .4s ease 0s;
			}
		}
		&:checked + label {
			&:before {
				border-color: $color-red;
				background-color: $color-red;
			}
			&:after {
				opacity: 1;
			}
		}
	}
	input[type="file"] {
		display: none;
		& + input {
			@include placeholder() {
				color: $color-gray;
			}
			& + .c-button {
				padding-top: 15px;
				padding-bottom: 15px;
				position: absolute;
				top: 0;
				right: 0;
				font-family: $font-medium;
			}
		}
	}
	textarea {
		height: 130px;
		line-height: 20px;
		padding: 10px;
	}
	.choices {
		position: relative;
		outline: none;
		&__list {
			position: absolute;
			width: 100%;
			&--single {
				color: $color-text;
				font-family: $font-medium;
				font-size: 1em;
				top: 0;
				line-height: 44px;
				padding-left: 10px;
				position: relative;
				background-color: #fff;
				border: 1px solid #9e9e9e;
				border-bottom: none;
				&:before {
					content: '';
					position: absolute;
					top: 19px;
					right: 15px;
					width: 12px;
					height: 8px;
					background-image: url('../images/icon-arrow-down-red.svg');
					@include bg-cover();
					transform: rotateX(0);
					transition: transform .4s ease 0s;
				}
			}
			&--dropdown {
				position: static;
				.choices__list {
					height: 0;
					overflow-y: scroll;
					border: 1px solid #9e9e9e;
					border-top: none;
					transition: height .4s ease 0s;
				}
			}
		}
		&__item--choice {
			color: #616262;
			font-family: $font-medium;
			font-size: 1em;
			margin: 0;
			line-height: 40px;
			background-color: #fff;
			transition: background-color .4s ease 0s, color .4s ease 0s;
			padding-left: 10px;
			&.is-highlighted {
				background-color: #efefef;
				color: $color-text;
			}
		}
		&.is-focused {
			z-index: 2;
		}
		&.is-open {
			z-index: 2;
			.choices__list--single:before {
				transform: rotateX(180deg);
			}
			.choices__list--dropdown .choices__list {
				height: 255px;
			}
		}
	}
	label {
		font-size: .8em;
		font-family: $font-medium;
		display: block;
		margin-bottom: 5px;
		opacity: 1;
		transition: opacity .4s ease 0s;
		.gfield_required {
			display: none;
			padding-left: 5px;
			color: $color-red;
		}
	}
	.gfield {
		margin-bottom: 20px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.gfield_radio,
	.gfield_checkbox {
		li {
			&:last-child {
				label {
					margin-bottom: 0;
				}
			}
		}
	}
	.ginput_container_fileupload {
		position: relative;
		.validation_message {
			color: $color-red;
			font-size: .8em;
			font-family: $font-medium;
			position: absolute;
			right: 0;
			top: 102%;
		}
		input {
			height: 44px;
		}
	}
	.gform_footer {
		text-align: right;
		margin-top: 15px;
		padding-bottom: 45px;
	}
	.validation_error {
		display: none;
	}
	.gfield_error .validation_message {
		position: absolute;
		color: $color-red;
		font-size: .8em;
		font-family: $font-medium;
		top: 0;
		right: 0;
		padding-left: 15px;
		&:before {
			background-image: url('../images/icon-red-close.svg');
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 10px;
			height: 10px;
			@include bg-cover();
			margin-top: -5px;
		}
	}
	.gform_confirmation_wrapper {
		margin: 40px 0 0;
		font-size: 16px;
		h1, h2, h3, h4, h5, h6 {
			font-family: $font-black;
			font-size: 27px;
		}
	}
}
