.c-hamburger {
	position: fixed;
	width: 39px;
	height: 19px;
	z-index: 5;
	opacity: 1;
	visibility: visible;
	background-color: $color-red;
	top: 0;
	left: 0;
	padding: 10px 0;
	box-sizing: content-box;
	@media (min-width: $s) {
		background-color: transparent;
		top: 20px;
		padding: 0;
		&:hover {
			cursor: pointer;
			& .c-hamburger__bar:nth-of-type(1) {
				top: -3px;
				//transition: 0.3s;
			}
			& .c-hamburger__bar:nth-of-type(3) {
				bottom: -3px;
				//transition: 0.3s;
			}
		}
	}
	&__bar {
		margin: 0 auto;
		width: 18px;
		height: 2px;
		//transform: translateZ(5);
		transition: opacity .55s cubic-bezier(.165, .84, .44, 1) .5s, top .3s ease 0s, bottom .3s ease 0s;
		display: block;
		opacity: 0;
		position: absolute;
		left: 0;
		overflow: hidden;
		@media (min-width: $s) {
			width: 25px;
			height: 3px;
		}
		&:nth-of-type(1),
		&:nth-of-type(2),
		&:nth-of-type(3) {
			left: 50%;
			margin-left: -9px;
			//transition:  0.3s;
			background-color: #ffffff;
			@include media($s) {
				margin-left: -12.5px;
			}
		}
		&:nth-of-type(1){
			top: 12px;
			@include media($s) {
				top: 0;
			}
		}
		&:nth-of-type(2) {
			top: 18px;
			@media (min-width: $s) {
				top: 8px;
			}
		}
		&:nth-of-type(3) {
			bottom: 13px;
			@include media($s) {
				bottom: 0;
			}
		}
		//&-panel {
			//will-change: transform;
			//background-color: #ffffff;
			//width: 100%;
			//height: 100%;
			//transform-origin: 0 0;
			//transform: translateX(-10px) scaleX(0) translateZ(0);
			//transition: transform .8s cubic-bezier(.23,1,.32,1) 0s;
			//background-color: #fff;
			//position: absolute;
			//width: 100%;
			//height: 3px;
			//transform: translate(-100%, 0);
			//transition: transform .8s cubic-bezier(.23,1,.32,1) 0s;
		//}
		&:nth-of-type(4),
		&:nth-of-type(5) {
			top: 50%;
			left: 50%;
			//transform: translate(-50%, -50%);
			position: absolute;
			//transform-origin: 50% 50%;
			opacity: 1;
			width: 22px;
			@include media($s) {
				width: 29px;
			}
			&:before {
				content: '';
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 3px;
				transform: translate(-100%, 0);
				transform-origin: 0 0;
				transition: transform .8s cubic-bezier(.23,1,.32,1) 0s;
			}
			//& .c-hamburger__bar-panel {
			//	transform-origin: 0 0;
			//	transform: translateX(-10px) scaleX(0) translateZ(0);
			//	transition: transform .8s cubic-bezier(.23,1,.32,1) 0s;
			//}
			//&:before {
			//	background-color: #ffffff;
			//}
		}
		//& .c-hamburger__bar-panel {
		//	&:before {
		//		background-color: #ffffff;
		//		position: absolute;
		//		content: "";
		//		top: 0;
		//		left: 0;
		//		width: 100%;
		//		height: 100%;
		//		transform: translateZ(0);
		//		transition: opacity .55s cubic-bezier(.165, .84, .44, 1);
		//	}
		//}
		&:nth-of-type(4) {
			transform: translate(-50%, -50%) rotate(45deg);
			transition: opacity .55s ease .8s;
		}
		&:nth-of-type(5) {
			transform: translate(-50%, -50%) rotate(-45deg);
			transition: opacity .55s ease .8s;
		}
	}
	.js-nav-open & {
		&__bar {
			//&-panel {
				//transform: translateX(0) scaleX(1) translateZ(0) !important;
				//transform: translate(0, 0);
				//transition: transform .8s cubic-bezier(.23, 1, .32, 1) .2s !important;
				//&:before {
				//	opacity: 1 !important;
				//}
			//}
			&:first-of-type,
			&:nth-of-type(2),
			&:nth-of-type(3) {
				opacity: 0 !important;
				transition: opacity .55s cubic-bezier(.165, .84, .44, 1) 0s;
			}
			&:nth-of-type(4),
			&:nth-of-type(5) {
				//opacity: 1;
				//transition: opacity .55s ease .3s;
				&:before {
					transform: translate(0, 0);
					transition: transform .8s cubic-bezier(.23, 1, .32, 1) .2s !important;
				}
			}
		}
	}
}
