.c-header-content {
	&__title {
		margin: 0;
		margin-top: 18px;
		font-family: $font-bold;
		font-size: 37px;
		line-height: 1em;
		text-transform: uppercase;
		@media (min-width: $s) {
			margin-top: 11px;
			font-size: 80px;
			max-width: 9em;
			.single-careers & {
				font-size: 55px;
			}
		}
		@media (min-width: 950px) {
			max-width: 11em;
			font-size: 88px;
		}
	}
	&__breadcrumb {
		padding-left: 5px;
		display: inline-block;
		font-family: $font-bold;
		color: $color-red;
		text-transform: uppercase;
		font-size: 15px;
		line-height: 42px;
		transform: translate(0);
		transition: transform .4s ease 0s;
		@media (min-width: $s) {
			& + & {
				padding-left: 20px;
			}
			font-size: 18px;
			line-height: 18px;
		}
		[data-white] & {
			color: #fff;
		}
		&:before {
			width: 7px;
			height: 12px;
			background-image: url('../images/Button__arrow-red.svg');
			transform: rotate(180deg) translate(0);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			transition: transform .4s ease 0s;
			content: '';
			display: inline-block;
			margin-right: 14px;
			position: relative;
			top: 0px;
			@media (min-width: $s) {
				top: -1px;
			}
		}
		&:hover {
			transform: translate(-8px, 0);
			&:before {
				transform: rotate(180deg) translate(-8px, 0);
			}
		}
	}
	&__section {
		display: block;
		font-family: $font-bold;
		color: $color-red;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 14px;
		padding-left: 5px;
		@media (min-width: $s) {
			margin-bottom: 0;
			font-size: 23px;
			line-height: 23px;
		}
		[data-white] & {
			color: #fff;
		}
	}
	&__description {
		max-width: 445px;
		font-size: 12px;
		line-height: 17px;
		text-align: left;
		@media (min-width: $s) {
			font-size: 17px;
			line-height: 26px;
			text-align: right;
		}
	}
}
