.c-instagram {
	&__title {
		background-color: $color-bg-black;
		padding: 30px 20px;
		color: #fff;
		@include media($l) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 40px 70px 40px 90px;
		}
		h3 {
			margin-bottom: 0;
			font-size: 1.1em;
			font-family: $font-bold;
			position: relative;
			padding-top: 47px;
			text-align: center;
			@include media($l) {
				padding-top: 0;
				padding-right: 60px;
				font-size: 1.37em;
				margin-left: 30px;
			}
			span {
				position: absolute;
				top: 0;
				width: 36px;
				height: 36px;
				background-image: url('../images/instagram-social-network-logo-of-photo-camera.svg');
				@include bg-cover();
				@include media(max-width $l - 1px) {
					left: 50%;
					margin-left: -18px;
				}
				@include media($l) {
					top: 50%;
					margin-top: -18px;
					right: 0;
				}
			}
		}
		.c-button {
			@include media(max-width $l - 1px) {
				display: none;
			}
		}
	}
	&__grid {
		display: flex;
		flex-flow: row wrap;
		margin: 5px;
	}
	&__item {
		margin: 5px;
		position: relative;
		overflow: hidden;
		a {
			display: block;
		}
		img {
			position: absolute;
			width: 100%;
			@include media($s) {
				width: auto;
				height: 100%;
			}
		}
	}
}