.c-intro-text {
	color: #ffffff;
	font-family: $font-black;
	font-size: 34px;
	position: absolute;
	text-transform: uppercase;
	top: 38.9%;
	left: 50%;
	line-height: 1em;
	transform: translateX(-50%);
	@include media($s) {
		top: 27.4%;
		left: 0;
		transform: none;
	}
	@include media($l) {
		font-size: 78px;
	}
	p {
		transform: translate(0, 25px);
		margin-bottom: 0;
		line-height: inherit;
		opacity: 0;
	}
}