.c-linked-block {
	position: relative;
	padding: 55px 37px 66px;
	background-position: center;
	background-size: cover;
	height: 100%;
	color: #ffffff;
	@media (min-width: $m) {
		padding: 90px 13% 75px;
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000000;
		opacity: 0.5;
	}
	&__content {
		position: relative;
		font-size: 21px;
		@media (min-width: $m) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: normal;
			height: 100%;
		}
		& p {
			margin: 0;
			margin-bottom: 38px;
			max-width: 200px;
			font-family: $font-light;
			font-size: 15px;
			line-height: 22px;
			letter-spacing: -0.02em;
			@media (min-width: $s) {
				margin-bottom: 47px;
				max-width: 290px;
				font-size: 21px;
				line-height: 28px;
			}
		}
	}
	&__title {
		margin: 0;
		margin-bottom: 18px;
		max-width: 100px;
		font-family: $font-bold;
		font-size: 21px;
		line-height: 22px;
		text-transform: uppercase;
		letter-spacing: 0.06em;
		@media (min-width: $m) {
			margin-bottom: 18px;

			line-height: 28px;
		}
	}

	&__button {
		text-align: left;
		@media (min-width: $m) {
			text-align: right;
			& > a {
				padding-left: 13px;
			}
		}
	}
}
