.c-map-wrap {
	@include parent-size();
	position: relative;
	&__footer {
		@extend .c-media-swiper__footer;
		height: 70px;
	}
}
.c-map {
	@include parent-size();
	.hide {
		display: none;
	}
	.gm-style-iw {
		top: 0 !important;
		left: 0 !important;
		max-width: 420px;
		padding: 30px 25px;
		width: 100% !important;
		background-color: rgba(255, 255, 255, .8);
		@include media($s) {
			background-color: #fff;
		}
		& + div {
			display: none;
		}
	}
	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-width: 370px;
		a {
			&:first-child {
				flex: 0 1 72px;
				img {
					max-width: 72px !important;
				}
			}
			&:last-child {
				flex: 0 1 255px;
				p {
					margin: 0;
					font-family: $font-medium;
					font-size: 16px;
					line-height: 1.6em;
					text-transform: uppercase;
				}
			}
		}
	}
}