.c-media-swiper {
	@include parent-size;
	position: relative;
	overflow: hidden;
	&__inner {
		@include parent-size;
		display: flex;
	}
	&__slide {
		width: 100%;
		height: 100%;
		@include bg-cover;
		flex-shrink: 0;
		position: relative;
		@include media($s) {
			@include flex-center();
			justify-content: center;
		}

		.c-btn-play {
			@include media(max-width $s - 1px) {
				position: absolute;
				top: 51%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	&__button {
		display: none;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		cursor: pointer;
		width: 13px;
		height: 20px;
		z-index: 2;
		@include media($s) {
			width: 23px;
			height: 31px;
		}
		&_prev {
			left: 25px;
			@include media($s) {
				left: 60px;
			}
		}
		&_next {
			right: 25px;
			@include media($s) {
				right: 60px;
			}
			svg {
				transform: rotate(180deg);
			}
		}
		svg {
			max-width: 100%;
			path {
				transition: fill .4s ease-in-out 0s;
			}
		}
		@include media($l) {
			&:hover {
				svg path {
					fill: #fff;
				}
			}
		}
	}
	&__pagination {
		display: none;
		@include media($m) {
			display: flex;
		}
		li {
			width: 9px;
			height: 9px;
			background-color: #fff;
			transition: background-color .4s ease-in-out 0s;
			border-radius: 100%;
			margin-right: 18px;
			cursor: pointer;
			position: relative;
			&:last-child {
				margin-right: 0;
			}
			&:before {
				content: '';
				position: absolute;
				width: 23px;
				height: 23px;
				border-radius: 100%;
				background-color: rgba(255, 255, 255, .4);
				z-index: -1;
				left: -7px;
				top: -7px;
				transition: transform .4s ease-in-out 0s;
				transform: scale(0);
			}
			&:hover,
			&.swiper-pagination-bullet-active {
				background-color: $color-red;
				&:before {
					transform: scale(1);
				}
			}
		}
	}
	&__footer {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: rgba(000, 000, 000, .6);
		padding: 11px 60px;
		cursor: default;
		z-index: 3;
		@include media($s) {

			padding: 10px 60px 10px 60px;
		}
		.c-button_scroll {
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -19px;
		}
	}
	&__content {
		@include flex-center();
		height: 100%;
		&_between {
			justify-content: space-between;
		}
		&_right {
			@include media(max-width $m - 1px) {
				justify-content: flex-end;
			}
		}
	}
	&__title {
		font-size: 12.5px;
		color: #fff;
		font-family: $font-medium;
		font-weight: normal;
		letter-spacing: .1em;
		width: 62%;
		margin-bottom: 0;
		@include media($m) {
			font-size: 15px;
			width: auto;
		}
	}
	&__logo {
		width: 105px;
		height: 25px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		@include media($m) {
			width: 155px;
			height: 45px;
		}
	}
	&.swiper-container-horizontal {
		.c-media-swiper__title {
			@include media($m) {
				margin-right: 45px;
			}
		}
		.c-media-swiper__button {
			display: block;
		}
	}
}
