.c-menu {
	.nav {
		display: block;
		@media (min-width: $s) {
			display: flex;
			justify-content: flex-end;
		}

		& > .menu-item {
			position: relative;
			font-size: 20px;
			letter-spacing: 0.02em;
			line-height: 44px;
			@media (min-width: $s) {
				width: auto;
				line-height: 20px;
				font-size: 15px;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, .1);
					transform: scale(0);
					transition: transform ease-out 0.15s;
				}
				&:hover::before {
					transform: scale(1);
				}
			}
			@media (min-width: 1050px) {
				font-size: 20px;
			}

			& > a {
				@media (min-width: $s) {
					position: relative;
					display: inline-block;
					padding: 13px 10px;
				}

				@media (min-width: 1050px) {
					padding: 13px;
				}
			}
		}
	}
	.sub-menu {
		display: none;
		font-size: 13px;
		@media (min-width: $s) {
			position: absolute;
			left: 10px;
			bottom: -40px;
			display: inline-block;
			font-size: 10px;
		}

		@media (min-width: 1050px) {
			left: 13px;
			font-size: 13px;
		}
		& > .menu-item {
			line-height: 20px;
			@media (min-width: $s) {
				margin-top: 10px;
				line-height: normal;
			}
		}
	}
}

.c-nav-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 30px;
	z-index: 4;
	.nav {
		margin: 0 auto;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 70px;
		padding-left: 40px;
		max-width: 400px;
		@media (min-width: $s) {
			flex-direction: row;
			justify-content: space-around;
			padding-bottom: 145px;
			padding-left: 0;
			width: 100%;
			max-width: none;
		}

		& > .menu-item {
			position: relative;
			width: 100%;
			opacity: 1;
			list-style: none;
			@for $i from 1 to 10 {
				&:nth-child(#{$i}) {
					animation-delay: 0.125s - $i * 0.0375s;
				}
			}
			animation-name: down;
			animation-duration: 0.25s;
			animation-fill-mode: both;
			animation-timing-function: ease-in-out;

			.js-nav-open & {
				@for $i from 1 to 10 {
					&:nth-child(#{$i}) {
						animation-delay: $i * 0.0375s + 0.75s;
					}
				}
				animation-name: up;
				animation-duration: 0.25s;
				animation-fill-mode: both;
				animation-timing-function: ease-in-out;
			}

			@media (min-width: $s) {
				width: auto;
				@for $i from 1 to 10 {
					&:nth-child(#{$i}) {
						animation-delay: 0.25s - $i * 0.075s;
					}
				}
				.js-nav-open & {
					@for $i from 1 to 10 {
						&:nth-child(#{$i}) {
							animation-delay: $i * 0.075s + .25s;
						}
					}
				}
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, .1);
					transform: scale(0);
					transition: transform ease-out 0.15s;
				}
				&:hover::before {
					transform: scale(1);
				}
			}

			& > a {
				display: inline-block;
				position: relative;
				padding: 20px;
				margin: 3px;
				margin-left: 0;
				padding-left: 0;
				font-family: $font-bold;
				font-size: 20px;
				letter-spacing: 0.03em;
				@media (min-width: $s) {
					padding: 10px 15px;
					margin: 0;
					font-size: 20px;
				}
				@media (min-width: 1200px) {
					padding: 20px 30px;
					font-size: 30px;
				}
			}

			&-has-children {

				&.active:after {
					transform: rotate(45deg);
				}

				@media (min-width: $s) {
					&:hover {
						.sub-menu {
							max-height: 300px;
							> .menu-item {
								@for $i from 1 to 10 {
									&:nth-child(#{$i}) {
										@include v-in(0, .3s, $i * 0.05s);
									}
								}
							}
						}
					}
				}

				&:after {
					content: "";
					position: absolute;
					right: 40px;
					top: 29px;
					width: 10px;
					height: 10px;
					background-image: url("../images/nav-plus.svg");
					background-repeat: no-repeat;
					background-size: contain;
					background-position: right;
					transition: transform 0.5s;
					@media (min-width: $s) {
						display: none;
					}
				}

			}
		}
	}
	.sub-menu {
		max-height: 0;
		overflow: hidden;
		font-size: 15px;
		transform-origin: top;
		text-transform: none;
		transition: ease-in-out max-height 0.5s, ease-in-out opacity 0.5s;
		width: 100%;
		padding-left: 25px;
		@media (min-width: $s) {
			//padding-left: 15px;
			font-size: 12px;
			overflow: visible;
			padding: 12px 0 0 15px;
			position: absolute;
			display: block;
		}
		@media (min-width: 1200px) {
			padding-left: 30px;
			font-size: 15px;
		}
		& > .menu-item {
			padding: 5px 0;
			margin-bottom: 18px;
			list-style: none;
			@media (min-width: $s) {
				padding: 10px 0;
				margin-bottom: 5px;
				@for $i from 1 to 10 {
					&:nth-child(#{$i}) {
						@include v-out(-10px, .3s);
					}
				}
				&:hover a {
					left: 15px;
				}
			}

			& a {
				padding: 5px 0;
				transition: left .4s ease 0s;
				//transform: translateX(0);
				position: relative;
				left: 0;
				@media (min-width: $s) {
					padding: 0;
				}

			}
		}
	}
}

.active > .sub-menu {
	max-height: 300px !important;
	opacity: 1 !important;
}
