.c-person-photo{
	min-height: 375px;
	background-position: center;
	background-size: cover;
	@media (min-width: $s) {
		min-height: auto;
		height: 100vh;
	}
}
.c-person-info{
	height: 100%;
	position: relative;
	@media (min-width: $s) {
		display: flex;
		flex-direction: column;
		margin-top: 65px;
		margin-bottom: 0;
		padding-bottom: 70px;
		overflow-y: auto;
		max-height: none;
	}
	&__content {
		font-size: 15px;
		text-transform: uppercase;
		flex-shrink: 1;
		position: relative;
		padding-top: 40px;
		@media (min-width: $s) {
			padding-top: 0;
			margin: auto;
			max-height: calc(100vh - 135px);
			overflow-x: hidden;
			overflow-y: scroll;
			font-size: 16px;
		}
	}
	&__name{
		margin-bottom: 15px;
		color: $color-red;
		font-family: $font-bold;
		font-size: 25px;
		line-height: 29px;
		letter-spacing: 0.02em;
		@media (min-width: $s) {
			font-size: 32px;
			line-height: 39px;
		}
		span {
			font-family: $font-medium-it;
			line-height: 21px;
			letter-spacing: 0.02em;
			font-size: 16px;
			display: block;
			color: #000;
			font-weight: normal;
			@media (min-width: $s) {
				font-family: $font-bold;
				line-height: 31px;
			}
		}
	}
	&__post{
		font-family: $font-light;
		line-height: 25px;
		text-transform: none;
		margin-bottom: 45px;
		b, strong {
			font-family: $font-medium;
		}
		> * {
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__recent-posts{
		margin-bottom: 30px;
		line-height: 43px;
		letter-spacing: 0.02em;
		font-family: $font-black;
		@media (min-width: $s) {
			line-height: 21px;
		}
		li {
			padding-bottom: 5px;
			@media (min-width: $s) {
				padding-bottom: 0;
			}
			&:first-child {
				padding-bottom: 8px;
				@media (min-width: $s) {
					padding-bottom: 0;
				}
			}
			a{
				color: $color-red;
				border-bottom: 1px solid $color-red;
				transition: border .4s ease 0s;
				&:hover {
					border-color: #fff;
				}
			}
		}
	}
	&__connect{
		line-height: 21px;
		letter-spacing: 0.02em;
		font-family: $font-black;
	}
	&__link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 130px;
		@include media($s) {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 80px;
		}
	}
	&__button{
		color: $color-red;
		font-family: $font-medium;
		font-size: 12px;
		line-height: 21px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		position: relative;
		&:before {
			display: inline-block;
			content: '';
			width: 6px;
			height: 9px;
			@include bg-cover();
			position: absolute;
		}
		&[data-prev] {
			margin-left: 10px;
			&:before {
				top: 6px;
				left: -10px;
				background-image: url('../images/icon-swipe-panel-prev.svg');
			}
		}
		&[data-next] {
			margin-right: 10px;
			&:before {
				top: 6px;
				right: -10px;
				background-image: url('../images/icon-swipe-panel-next.svg');
			}
		}
		&.hide {
			opacity: 0;
		}
	}
}
