.c-post-header{
	&__inner {
		position: relative;
		min-height: 325px;
		padding-top: 40px;
		display: flex;
		align-items: flex-end;
		background-size: cover;
		background-color: $color-red;
		background-position: center;
		color: #ffffff;
		@media (min-width: $s) {
			min-height: 415px;
			padding-top: 50px;
		}
	}
	&__breadcrumb {
		color: $color-red;
		text-transform: uppercase;
		font-size: 15px;
		font-family: $font-bold;
		display: block;
		margin-bottom: 5px;
		@media (min-width: $s) {
			margin-bottom: 12px;
			font-size: 18px;
			line-height: 18px;
		}
	}
	&__content{
		position: relative;
		padding: 20px;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		@media (min-width: $s) {
			padding: 20px 20px 40px 50px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
		@media (min-width: $m) {
			padding: 20px 70px 40px 60px;
		}

	}
	&__info{
		position: relative;
		font-family: $font-bold;
	}
	&__category{
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 0.02em;
		@media (min-width: $s) {
			margin-bottom: 5px;
			font-size: 22px;
			line-height: 22px;
			letter-spacing: 0.1em;
			font-family: $font-medium;
		}
	}

	&__title{
		margin: 0;
		font-size: 37px;
		line-height: 1em;
		padding-bottom: 10px;
		@media (min-width: $s) {
			//max-width: 180px;
			margin-left: -4px;
			font-size: 88px;
			padding: 0;
			&.shrink {
				font-size: 56px;
			}
		}
	}
	&__date{
		position: relative;
		margin: 0;
		margin-bottom: 4px;
		font-size: 12px;
		line-height: 17px;
		letter-spacing: 0.02em;
		font-family: $font-medium;
		text-transform: uppercase;
		@media (min-width: $s) {
			flex-shrink: 0;
			margin-left: 40px;
			font-size: 22px;
			line-height: 26px;
			letter-spacing: 0.09em;
			font-family: $font-body;
		}
	}
}
