.js-overflow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow: scroll;
	opacity: 0;

	&__inner {
		width: 100%;
	}
}
body {
	-webkit-overflow-scrolling: touch;
}
.c-spinner {
	color: #ffffff;
	font-size: 18px;
	height: 300px;
	justify-content: center;
	line-height: 2em;
	position: relative;
	width: 100%;
	opacity: 0;
	transform: translate(0, 10px);
	@include media($s) {
		width: 250px;
	}
	&__inner {
		padding: 100px 0 0 0;
		text-align: center;
		z-index: 1;
		@include media($s) {
			text-align: left;
		}
	}
	&__item {
		flex-basis: 100%;
		opacity: 0;
		pointer-events: none;
		transition: font-size .4s ease, opacity .4s ease, color .4s ease;
		line-height: 36px;
		@include media(max-height 400px) {
			height: 40px !important;
			//line-height: 40px !important;
		}
		@include media($s) {
			white-space: nowrap;
		}
		&.slide-clone,
		&.swiper-slide-prev,
		& + &.swiper-slide-next,
		&.swiper-slide-next + & {
			opacity: 0.4;
		}
		&.swiper-slide-next,
		&.swiper-slide-active {
			opacity: 1 !important;
		}
		&.c-spinner__item.swiper-slide-duplicate.swiper-slide-prev.slide-clone.swiper-slide-duplicate-next.swiper-slide-duplicate-active.swiper-slide-next.swiper-slide-duplicate-prev {
			opacity: 0.4 !important;
		}
		&.swiper-slide-active + &.c-spinner__item.swiper-slide-duplicate.swiper-slide-prev.slide-clone.swiper-slide-duplicate-next.swiper-slide-duplicate-active.swiper-slide-next.swiper-slide-duplicate-prev {
			opacity: 1 !important;
		}
		&.swiper-slide-active {
			font-family: $font-black;
			font-size: 25px;
			pointer-events: visible;
			@include media($s) {
				font-size: 35px;
			}
			&:hover {
				color: $color-red;
			}
		}
	}
	&__nav {
		cursor: pointer;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 2;
		&_prev {
			top: 0;
			@include media(max-height 400px) {
				top: 35px;
			}
		}
		&_next {
			bottom: -11px;
			@include media(max-height 400px) {
				bottom: 50px;
			}
		}
		.arrow {
			background: url('../images/dropdown-arrow.svg') no-repeat;
			background-size: contain;
			display: inline-block;
			height: 19px;
    		width: 23px;
		}
	}
}
.c-spinner__nav_prev {
	.arrow {
		transform: rotate(180deg);
	}
}
