.c-tabbed-wrap {
	position: relative;
	@include media(max-width $l - 1px) {
	    .col-12 {
			width: 100%;
		}
	}
	.l-container {
		padding: 0;
	}
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		@include parent-size();
		div {
			@include parent-size();
			background-color: $color-light-gray;
		}
	}
}
.c-tabbed-header {
	max-width: 80%;
	margin: auto;
	padding: 0 20px;
	@include media($l) {
		padding: 0;
	}
}
.c-tabbed {
	transition: transform cubic-bezier(0.66, 0.13, 0.15, 0.59) 0.3s 0s,
				opacity ease-in-out 0.3s 0s, visibility 0s 0s,
				height .3s ease .2s !important;
	border-bottom: 1px solid #d0cfcf;
	background-color: #fff;
	width: 100%;
	margin-top: 20px;
	@include media($l) {
		border: none;
		position: relative;
		padding: 0;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 15%;
			background-color: $color-light-gray;
			content: '';
		}
	}
	&__list {
		display: flex;
		flex-flow: column nowrap;
		position: relative;
		@include media($l) {
		    flex-flow: row nowrap;
			position: static;
		}
	}
	&__trigger {
		cursor: pointer;
		position: relative;
		margin-bottom: 0;
		transition: margin .4s ease 0s;
		@include media($l) {
		    position: static;
		}
		[data-count="5"] & {
			flex: 0 1 20%;
		}
		[data-count="4"] & {
			flex: 0 1 25%;
		}
		[data-count="3"] & {
			flex: 0 1 33.33333%;
		}
		[data-count="2"] & {
			flex: 0 1 50%;
		}
		> h3 {
			font-family: $font-bold;
			font-size: 4.25em;
			color: #8b8c8d;
			text-align: center;
			transition: color .4s ease 0s, color .4s ease 0s, background .4s ease 0s;
			margin-bottom: 0;
			padding: 20px 60px 30px;
			position: relative;
			border-top: 1px solid #d0cfcf;
			height: 100%;
			background-color: $color-light-gray;
			@include media($l) {
				border: none;
				padding: 20px 0 10px;
			}
			&:before {
				content: '';
				position: absolute;
				height: 3px;
				width: calc(100% + 40px);
				background-color: $color-red;
				top: 0;
				left: -20px;
				opacity: 0;
				transition: opacity .4s ease 0s;
				@include media($l) {
					left: 0;
					width: 100%;
					opacity: 1;
					top: 100%;
					z-index: 3;
				}
			}
			&:after {
				content: '';
				position: absolute;
				width: calc(100% + 40px);
				left: -20px;
				height: 100%;
				background-color: #fff;
				opacity: 0;
				top: 0;
				z-index: -1;
				transition: opacity .4s ease 0s;
				@include media($l) {
					display: none;
				}
			}
			span {
				display: block;
				text-transform: uppercase;
				font-family: $font-medium;
				font-size: 0.21em;
				opacity: 1;
				transition: opacity .2s ease 0s;
				font-weight: normal;
				max-width: 130px;
				margin: auto;
			}
		}
		&:hover {
			> h3 {
				color: $color-text;
			}
		}
		&.active {
			> h3 {
				background-color: #fff;
				color: $color-red;
				opacity: 1;
				span {
					opacity: 0;
				}
				&:before {
					opacity: 1;
					@include media($l) {
						opacity: 0;
					}
				}
				&:after {
					opacity: 1;
				}
			}
		}
	}
	&__content {
		position: absolute;
		width: 100%;
		transition: height .3s ease .2s;
		height: 0;
		@include media($l - 1px) {
			width: 100%;
			left: 0;
			//top: 100%;
		}
		//@include media(max-width $l - 1px) {
		//	top: 100%;
		//}
		.active & {
			z-index: 2;
		}
	}
	&__item {
		padding: 0 20px 70px;
		opacity: 0;
		visibility: hidden;
		transition: opacity .2s ease 0s, visibility .2s ease 0s;
		@include media($l) {
			padding: 105px 95px 80px;
			background-color: transparent;
		}
		.active & {
			opacity: 1;
			visibility: visible;
			transition: opacity .4s ease .3s, visibility .4s ease .3s;
			@include media($l) {
				transition: opacity .4s ease .3s, visibility .4s ease .3s;
			}
		}
		h3 {
			color: $color-text;
			font-size: 1.3em;
			line-height: 1.15em;
			margin-bottom: 0;
			font-family: $font-bold;
			opacity: .8;
			@include media($l) {
				font-size: 2.3em;
			}
			span {
				display: block;
				@include media($l) {
					max-width: 60%;
				}
			}
		}
		> ul {
			margin-top: 20px;
			@include media($l) {
				display: flex;
			}
			> li {
				position: relative;
				&:first-child {
					@include media($l) {
						flex: 1 1 65.4%;
						padding-right: 160px;
						margin-right: 105px;
						&:before {
							content: '';
							position: absolute;
							right: 0;
							top: 0;
							width: 3px;
							height: 100%;
							background-color: $color-red;
						}
					}
				}
				&:last-child {
					margin: 25px 0 0;
					padding: 0;
					@include media($l) {
						flex: 1 1 34.6%;
						margin: 0;
					}
					&:before {
						display: none;
					}
				}
				h1, h2, h3, h4, h5, h6 {
					color: $color-red;
					font-size: 20px;
					letter-spacing: 4px;
				}
				h1 {
					font-size: 35px;
				}
				h2 {
					font-size: 22px;
				}
				> * {
					font-size: 1.1em;
					line-height: 1.8em;
					&:last-child {
						margin-bottom: 0;
						padding-bottom: 0;
					}
				}
				ul, ol {
					display: flex;
					font-family: $font-medium;
					flex-flow: column wrap;
					li {
						font-size: 20px;
						margin-bottom: 8px;
					}
				}
				ul {
					list-style: disc inside;
				}
				ol {
					list-style: decimal inside;
				}
				.c-tabbed__link {
					display: block;
					padding-left: 65px;
					color: #3b3939;
					font-size: 14px;
					font-family: $font-book-it;
					line-height: 19px;
					margin-top: 40px;
					position: relative;
					margin-bottom: 25px;
					span {
						position: absolute;
						top: 50%;
						left: 0;
						transform: translate(0, -50%);
						@include bg-cover();
						width: 47px;
						height: 60px;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
.c-tabbed-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 45px 0;
	flex-flow: column wrap;
	@include media($l) {
		flex-flow: row nowrap;
	}
	p {
		margin-bottom: 0;
		font-size: 14px;
		text-align: center;
		@include media($l) {
			text-align: left;
			font-size: 1.4em;
		}
	}
	> * {
		&:first-child {
			margin: 0 0 25px;
			@include media($l) {
				margin: 0 25px 0 0;
			}
		}
		&:last-child {
			margin: 0;
		}
	}
}