.c-team-row {
	@include bg-cover();
	height: 330px;
	position: relative;
	display: flex;
	align-items: flex-end;
	margin: 0 20px 25px;
	cursor: pointer;
	@include media($s) {
		justify-content: flex-end;
		margin: 0;
		height: 100%;
	}
	&_center {
		background-position: center center;
	}
	&_top {
		background-position: center top;
	}
	&_bottom {
		background-position: center bottom;
	}
	&:before {
		@include fill(absolute);
		content: '';
		background-color: $color-red;
		opacity: 0;
		transition: opacity .4s ease-in-out .1s;
		z-index: -2;
	}
	&:after {
		@include fill(absolute);
		content: '';
		box-shadow: inset 0px -118px 178px -112px rgba(0, 0, 0, .85);
		z-index: 1;
		display: none;
		@include media($s) {
			display: block;
		}
	}
	&__arrow {
		width: 22px;
		height: 30px;
		position: absolute;
		top: 30px;
		right: 30px;
		transform: translate(-5px,0);
		opacity: 0;
		transition: transform .2s ease-in-out 0s, opacity .2s ease-in-out 0s;
		z-index: -1;
	}
	&__info {
		position: relative;
		z-index: -7;
		padding: 25px;
		@include media($l) {
			z-index: -1;
		}
		h2 {
			font-size: 1.31em;
			font-family: $font-black;
			text-transform: uppercase;
			color: #fff;
			font-weight: 100;
			letter-spacing: .05em;
			margin-bottom: 0;
			@include media($s) {
				text-align: right;
				//font-size: 1.4em;
			}
			@include media($l) {
				font-size: 1.6em;
			}
			span {
				margin-top: 5px;
				display: block;
				font-family: $font-medium-it;
				font-size: .63em;
			}
		}
	}
	&__content,
	&__post {
		display: none;
	}
	@include media($l) {
		&:hover {
			&:before {
				opacity: .7;
				transition: opacity .4s ease-in-out 0s;
			}
			.c-team-row__arrow {
				opacity: 1;
				transform: translate(0,0);
				transition: transform .2s ease-in-out .3s, opacity .2s ease-in-out .3s;
			}
		}
	}
}