.c-text-editor {}

.c-card-editor {
    &_white {
        color: #fff;
    }
    h3 {
        font-family: $font-bold;
        margin-bottom: 1.2em;
        @include media($s) {
            margin-bottom: .1em;
        };
    }
    p {
        font-family: $font-light;
        line-height: 1.4em;
        @include media($s) {
            font-size: 21px;
        };
    }
}

[data-editor] {
    font-family: $font-light;
    font-size: 15px;
    line-height: 22px;
    @media (min-width: $s) {
        font-size: 16px;
    }

    &[data-editor="white"] {
        color: #fff;
    }

    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
        font-family: $font-light;
        line-height: 1.5em;
        letter-spacing: 0.06em;
        margin-bottom: 0.5em;
        font-weight: normal;
        @media (min-width: $s) {
            line-height: 1.1em;
        }
    }
    &.c-text-content {
        max-width: 850px;
		margin: auto;
        @media (min-width: $s) {
            font-size: 18px;
        }
        h1, h2, h3, h4, h5, h6 {
            letter-spacing: .3em;
            margin-bottom: 1em;
        }
		em {
			font-family: $font-medium-it;
		}
    }

    h1 {
        font-size: 30px;
        @media (min-width: $s) {
            font-size: 40px;
        }
    }
    h2 {
        font-size: 25px;
        @media (min-width: $s) {
            font-size: 35px;
            strong {
                font-size: 30px;
            }
        }
    }
    h3 {
        font-size: 20px;
        @media (min-width: $s) {
            font-size: 25px;
        }
    }
    h4 {
        font-size: 22px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 15px;
    }
    ul {
        list-style: outside disc;
        padding-left: 12px;
    }
    ol {
        list-style: outside decimal;
        padding-left: 12px;
    }
    ul, ol {
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    strong {
        font-family: $font-bold;
    }
    em {
        font-family: $font-light-it;
    }
    a:not(.c-button) {
        color: $color-red;
        font-family: $font-medium;
    }
    &.c-column-content__content{
        @media (min-width: $m) {
            p, li, ul, ol {
                font-size: 14px;
            }
        }

        @media (min-width: $xl) {
            p, li, ul, ol {
                font-size: 16px;
            }
        }
        font-family: $font-body;
        li{
            margin-bottom: 1em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    > * {
        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
	&.c-callout{
		p{
			font-size: 15px;
			@media (min-width: $s) {
				font-size: 19px;
			}
		}
	}
    &.c-post-content {
        font-family: $font-body;
        max-width: 87%;
        padding-bottom: 70px;
        @media (min-width: $s) {
            padding-bottom: 40px;
        }

        h1, h2, h3, h4, h5, h6 {
            letter-spacing: 0.09em;
            margin-bottom: 2.3em;
        }
        h1 {
            font-size: 21px;
            @media (min-width: $s) {
                font-size: 24px;
            }
        }
        h2 {
            font-size: 18px;
            @media (min-width: $s) {
                font-size: 21px;
            }
        }
        h3 {
            font-size: 15px;
            @media (min-width: $s) {
                font-size: 18px;
            }
        }
        h4 {
            font-size: 14px;
            @media (min-width: $s) {
                font-size: 17px;
            }
        }
        h5 {
            font-size: 13px;
            @media (min-width: $s) {
                font-size: 16px;
            }
        }
        h6 {
            font-size: 12px;
            @media (min-width: $s) {
                font-size: 15px;
            }
        }
        p{
             margin-bottom: 1.5em;
        }

    }

    &.c-career-list {
        h1, h2, h3, h4, h5, h6 {
            @media (min-width: $s) {
                margin-bottom: 1.3em;
            }
        }

        @media (min-width: $s) {
            padding: 0 40px;
        }
        h3{
            font-family: $font-bold;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            @media (min-width: $s) {
                font-size: 24px;
                line-height: 24px;
            }
        }

        ul{
            list-style: unset;
            padding-left: 20px;
        }

        li{
            font-size: 17px;
            line-height: 38px;
            @media (min-width: $s) {
                margin-bottom: 1.4em;
                letter-spacing: 0.02em;
                font-size: 16px;
                line-height: 24px;
            }

        }
    }
    &.c-text-editor {
        font-size: 18px;
        h1, h2, h3, h4, h5, h6 {
            letter-spacing: .02em;
        }

        h1, h1 strong {
            @media (min-width: $s) {
                font-size: 24px;
            }
            @media (min-width: $l) {
                font-size: 32px;
            }
        }
        h2, h2 strong {
            @media (min-width: $s) {
                font-size: 23px;
            }
            @media (min-width: $l) {
                font-size: 28px;
            }
        }
        h3, h3 strong {
            @media (min-width: $s) {
                font-size: 21px;
            }
            @media (min-width: $l) {
                font-size: 27px;
            }
        }
        h4, h4 strong {
            @media (min-width: $s) {
                font-size: 19px;
            }
            @media (min-width: $l) {
                font-size: 26px;
            }
        }
        h5, h5 strong {
            @media (min-width: $s) {
                font-size: 17px;
            }
            @media (min-width: $l) {
                font-size: 24px;
            }
        }
        h6, h6 strong {
            @media (min-width: $s) {
                font-size: 15px;
            }
            @media (min-width: $l) {
                font-size: 22px;
            }
        }
    }
    &.c-case-studies__description{
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 11px;
        }
        p{
            margin-bottom: 22px;
            &:last-of-type{
                margin-bottom: 0;
                @media (min-width: $s) {
                    margin-bottom: 22px;
                }
            }
        }

    }
    &.c-person-info__post{
        ol, ul{
            padding-left: 20px;
        }
        li{
            padding: 0!important;
        }
    }
}