.c-title {
	&_spinner {
		color: #ffffff;
		font-family: $font-black;
		font-size: 30px;
		line-height: 1em;
		padding-bottom: 23px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		z-index: 2;
		@include media(max-height 570px) {
			display: none;
		}
		p {
			margin: 0;
			line-height: inherit;
			opacity: 0;
			transform: translate(0, 25px);
		}
		@include media($s) {
			font-size: 52px;
			text-align: left;
		}
	}
}