$max-width-variations: (
				(sm, 768px),
				(md, 992px),
				(lg, 1400px)
) !default;

$container-class: 'l-container';

.#{$container-class} {
	position: relative;
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	&_fluid {
		margin: 0;
		max-width: 100%;
		&_content {
			padding: 35px 20px;
			@include media($s) {
				padding: 55px 60px 55px;
			}
		}
	}
	&_large-width{
		max-width: 1360px;
	}
	&_overflow {
		overflow: hidden;
	}
	&[data-content] + [data-content] {
		padding-top: 0;
	}
}

@each $i in $max-width-variations {
	$namespace: nth($i, 1);
	$value: nth($i, 2);

	.#{$container-class}_#{ $namespace } {
		max-width: $value;
	}
}

.l-viewport {
	height: 100vh;
	width: 100vw;
	@include media($s) {
		width: calc(100vw - 39px);
	}
}


.l-page-wrap {
	overflow: hidden;
	@include media($s) {
		margin-left: 39px;
	}
}

