.l-content-center{
	&__inner {
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 65px 30px;
		margin-left: 0;
		@media (min-width: $s) {
			padding: 120px 30px 100px;
		}

		blockquote, blockquote p {
			padding: 0;
			margin: 0;
			line-height: 1.5em;
		}
	}
}
