
/**
* Flex Grid -
* Version: 0.3.5
*
* Simple grid built with flex box and sass.
*
* Matthew Simo - matthew.a.simo@gmail.com
*/

/**
* Grid setup
*
* The grid will calculate dimensions based on these two variables:
* $fg-columns will inform the grid loops how many columns there should be.
* $fg-gutter will inform the grid loops how big eac column's gutters should be.
*
* The grid will name columns, rows, offsets based on these three variables:
* $fg-class-row string used for the row class
* $fg-class-col string used for the column class
* $fg-class-off string used for the offset class
*/
$fg-columns: 12 !default;
$fg-gutter: 12px  !default;

$fg-class-row: 'row' !default;
$fg-class-col: 'col' !default;
$fg-class-off: 'off' !default;



/**
* Break point namespace object
*
* Set the default namespace object with these defaults with the
* understanding that you can pass in whatever you might require for your site.
*
* $fg-breakpoints is a Sass list with nested lists inside. Each sub list defines two things.
* 1. The namespace for that breakpoint. (Required) (i.e. xs, sm, md, lg)
* 2. The min-width measurement for the breakpoint for that namespace. (i.e. 48em, 62em, 75em)
*
* Note: These should be in the proper order (at least till libsass handles map keys properly).
*
* Note: If the measurement is left out then it will be skipped when generating
* the grid and applied to global styles.
*
*/
$fg-breakpoints: (
(xs),
(sm, $s),
(md, $m),
(lg, $l),
(xl, $xl)

) !default;

/**
* Calculate column size percentage
*/
@function get-col-percent($column-num) {
    @return $column-num / $fg-columns * 100%;
}

/**
* Spacing mixin to create uniform margin/padding
*/
@mixin spacing( $value, $type: margin, $orientation: vertical ) {
    @if $orientation == vertical {
        #{ $type }-top: $value;
        #{ $type }-bottom: $value;
    } @else {
        #{ $type }-left: $value;
        #{ $type }-right: $value;
    }
}

/**
* Row wrapper class, flex box parent.
*/
.#{$fg-class-row} {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &_center {
        justify-content: center;
    }
    &_between {
        justify-content: space-between;
    }
    &_gutter {
        @include spacing( ( -$fg-gutter ), margin, horizontal );
    }
    &_gutter-20 {
        @include spacing( ( -($fg-gutter + 8) ), margin, horizontal );
    }
    &_reverse {
        @include media($s) {
            flex-direction: row-reverse;
        }
    }
}


%#{$fg-class-col} {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 1px;

    .#{$fg-class-row}_gutter > & {
        @include spacing( ( $fg-gutter / 2 ), padding, horizontal );
        padding-bottom: $fg-gutter;
    }
    .#{$fg-class-row}_gutter-20 > & {
        @include spacing( ( $fg-gutter + 8 ), padding, horizontal );
        @include media($s) {
            padding-bottom: ($fg-gutter + 8) * 2;
        }
    }
    .#{$fg-class-row}_gutter .#{$fg-class-row}_gutter > & {
        @include spacing( ( $fg-gutter ), padding, horizontal );
    }
}

%#{$fg-class-col}-flex {
    @extend %#{ $fg-class-col };
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}



/**
* Generate a set of grid column classes using a namespace
*
* .#{ $fg-class-col }-[namespace] for intelligent column division
* .#{ $fg-class-col }-[namespace]-[number] for a column that covers a specific number of columns (e.g. 1-12 by default)
* .#{ $fg-class-off }-[namespace]-[number] for pushing a col a specific number of columns (e.g. 1-11 by default)
* .#{ $fg-class-off }-[namespace]-reset for resetting a col's offset for that and larger namespaces
*/
@function get-list($label) {
    @each $list in $fg-breakpoints {
        @if nth($list, 1) == $label {
            @return $list;
        }
    }
    @return null;
}

@mixin grid-base( $namespace ) {

    $list: get-list($namespace);
    @if length($list) == 1 {
        @extend %#{ $fg-class-col }-flex;

    }
    @else {
        $size: nth($list, 2);
        @media only screen and (min-width: #{$size}) {
            .#{ $fg-class-col }-#{$namespace} {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                flex-grow: 1;
                flex-basis: 0;
                min-height: 1px;
                max-width: 100%;

            }
        }
    }

    @for $i from 1 through $fg-columns {
        .#{ $fg-class-col }-#{$namespace}-#{$i} {
            @extend %#{ $fg-class-col };

        }
        @if( $i == 12) {
            .#{ $fg-class-col }-xs-12 {
                .#{$fg-class-row}_gutter > & {
                    @include media(max-width $s - 1px) {
                        @include spacing( ( $fg-gutter ), padding, horizontal );
                    };
                }
            }
        }
    }
}

@mixin grid-sizes( $namespace ) {

    // Run the loop for as many columns as speficied
    @for $i from 1 through $fg-columns {
        .#{ $fg-class-col }-#{$namespace}-#{$i} {
            flex-basis: get-col-percent($i);
            max-width:  get-col-percent($i);
        }
        // Don't include the .off class for the last column
        @if ( $i != $fg-columns ) {
            .#{ $fg-class-off }-#{$namespace}-#{$i} {
                margin-left: get-col-percent($i);
            }
        }
    }

    .#{ $fg-class-off }-#{$namespace}-reset {
        margin-left: 0;
    }

}


/**
* Build the grid in two steps, to help minimize file size
* Step 1, for each namespace, create the grid-base
* Step 2, for each namespace, wrap the col width/offset measurements in their breakpoint media query
*/
@each $val in $fg-breakpoints {

    $namespace: nth($val, 1);
    @include grid-base( $namespace );

}

@each $val in $fg-breakpoints {
    @if length($val) == 1 {

        $namespace: nth($val, 1);
        @include grid-sizes( $namespace );

    } @else {

        $namespace: nth($val, 1);
        $size: nth($val, 2);

        @media only screen and (min-width: #{$size}) {
            @include grid-sizes( $namespace );
        }
    }
}
