.l-footer {
	&__inner {
		position: relative;
		padding: 57px 0;
		color: white;
		background-color: $color-red;
		@media (min-width: $s) {
			padding: 68px 3% 222px 0;
		}
		.row {
			@include media(max-width $s - 1px) {
				flex-direction: column-reverse;
				//flex-flow: column wrap !important;
			}
		}
	}
}

.l-footer .l-footer__inner[data-slide-up] {
	transition: z-index 0.2s ease-in 0.5s, transform cubic-bezier(0.66, 0.13, 0.15, 0.59) 0.3s 0s, opacity ease-in-out 0.3s 0s, visibility ease-in-out 0.3s 0s, -webkit-transform cubic-bezier(0.66, 0.13, 0.15, 0.59) 0.3s 0s, -o-transform cubic-bezier(0.66, 0.13, 0.15, 0.59) 0.3s 0s;
	z-index: 15;
	will-change: z-index;
	.js-nav-open & {
		transition: z-index 0.2s ease-in;
		z-index: 2;
	}
}

.c-footer-contact-info {
	margin-bottom: 50px;
	font-size: 12px;
	line-height: 20px;
	font-family: $font-medium;
	@media (min-width: $s) {
		margin: 0;
		font-size: 15px;
	}
	&__address {
		margin: 0;
		margin-top: -3px;
		letter-spacing: 0;
		font-style: normal;
		color: #cfcdc9;
		@media (min-width: $s) {
			margin-top: 15px;
			margin-bottom: 10px;
		}
	}
	&__phone {
		margin: 0;
		margin-bottom: 10px;
		max-width: 115px;
		@media (min-width: $s) {
			max-width: none;
			margin-bottom: 6px;
		}
		a {
			color: #fff;
			display: block;
			&:first-child{
				margin-bottom: 3px;
				@media (min-width: $s) {
					margin-bottom: 0;
				}
			}
			@media (min-width: $s) {
				display: inline-block;
			}
		}
	}

	&__copy {
		margin: 0;
		font-size: 9px;
		@media (min-width: $s) {
			font-size: 13px;
			font-family: $font-light;
		}
	}

	&__transference {
		display: none;
		padding: 0 10px;
		@media (min-width: $s) {
			display: inline-block;
		}
	}
}
