.l-header {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1;
	visibility: hidden;
	transition: visibility 0s 0.7s, opacity 1s;
	z-index: 8;
	.js-nav-open & {
		position: fixed;
		transition: visibility 0s 0.2s, opacity 1s;
		visibility: visible;
		opacity: 1;
		@media (max-width: $s - 1px) and (max-height: 500px) {
			overflow: auto;
		}
	}

}

.l-page-header {
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 80px 21px 29px;
		height: 315px;
		background-color: #ffffff;
		background-position: top right;
		background-size: cover;
		background-repeat: no-repeat;
		@media (min-width: $s) {
			flex-direction: row;
			align-items: flex-end;
			justify-content: space-between;
			padding: 0 2% 33px;
			height: 415px;
		}

		@media (min-width: 950px) {
			padding: 0 4% 33px;
		}
	}
	&__section {
		& + & {
			margin-top: 15px;
			@media (min-width: $s) {
				margin-top: 0;
				padding-left: 20px;
				padding-bottom: 10px;
			}
		}
		&[data-white] {
			color: #fff;
		}
	}
}

