.l-hero {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	position: relative;
	width: 100%;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .4);
		@include media($s) {
			display: none;
		}
	}
	&__screen {
		z-index: 1;
		&_right-side {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			@include media($s) {
				left: 30%;
				width: 70%;
			}
			@include media($l) {
				left: 50%;
				width: 50%;
			}
			@include media($xl) {
				left: 55.9%;
			}
		}

		&_vertical-center {
			left: 0;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
