.l-4-col{
	padding-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	&__item{
		position: relative;
		flex: 0 1 100%;
		@media (min-width: $s) {
			flex: 0 1 50%;
		}
		@media (min-width: $l) {
			//flex: 0 1 33.3%;
			flex: 0 1 25%;
		}
		//@media (min-width: $xl) {
		//	flex: 0 1 25%;
		//}
	}
}