.l-lightbox {
    @include fade(hide);
    @include fill(fixed);
    @include flex-center();
    z-index: -2;
    background: rgba(0,0,0,.95);
    @include media($s) {
        z-index: 5;
    }
    &.is-visible {
        @include fade(show);
        z-index: 5;
    }
    &__content {
        width: 55%;
        margin: auto;
        position: relative;
        @include media($xxl) {
            width: 80%;
        }
    }
    &__x {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        z-index: 1;
        cursor: pointer;
        transform: translateY(10px) translateX(calc(100% + 10px));
        &:before, &:after {
            position: absolute;
            left: 50%;
            content: ' ';
            height: 100%;
            width: 3px;
            background-color: #fff;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}
