.l-menu-background {
	&__main {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $color-red;
		transform: translateX(-110%);
		transition: transform ease-in-out 0.25s 0.2s;
		z-index: 8;
		@media (min-width: $s) {
			transition: transform ease-in-out 0.5s;
		}
		.js-nav-open & {
			transform: translateX(0);
			transition: transform ease-in-out 0.25s 0.625s ;
			@media (min-width: $s) {
				transition: transform ease-in-out 0.5s 0.25s ;
			}
		}
	}

	&__overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000000;
		opacity: 0.8;
		z-index: 7;
		transform: translateX(-110%);
		transition: transform ease-in-out 0.25s 0.4s;
		@media (min-width: $s) {
			transition: transform ease-in-out 0.5s 0.25s;
		}

		.js-nav-open & {
			transform: translateX(0);
			transition: transform ease-in-out 0.25s 0.5s;
			@media (min-width: $s) {
				transition: transform ease-in-out 0.5s;
			}
		}
	}
}

