.l-square {
	padding: 10px 0;
	@media (min-width: $xl) {
		padding: 60px 20px;
		position: relative;
		width: 100%;
		&__padding {
			position: relative;
			width: 100%;
			padding-bottom: 100%;
			& > div {
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}
	}
}

