.l-swipe-panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .7);
	transform: translate(100%, 0);
	transition: transform .4s ease-in-out .1s;
	z-index: 10;
	@include media($m) {
		display: flex;
		justify-content: flex-end;
		left: 39px;
		width: calc(100% - 39px);
	}
	&.is-visible {
		transform: translate(0, 0);
		transition: transform .4s ease-in-out 0s;
	}
	&__wrap {
		background-color: #fff;
		position: relative;
		height: 100%;
		margin-top: 39px;
		transform: translate(100%, 0);
		transition: transform .4s ease-in-out 0s;
		@include media($s) {
			margin-top: 0;
			flex: 0 1 84%;
		}
		.is-visible & {
			transform: translate(0, 0);
			transition: transform .4s ease-in-out .1s;
		}
	}
	&__content {
		overflow: hidden;
		height: 100%;
		opacity: 1;
		transition: opacity .4s ease 0s;
		@media (max-width: $s) {
			position: relative;
			margin-bottom: 0;
			overflow-y: auto;
			max-height: calc(100vh - 50px);
		}
		&.js-hide {
			opacity: 0;
		}
	}
	&__close {
		position: absolute;
		left: 0;
		top: -39px;
		width: 39px;
		height: 39px;
		font-family: $font-medium;
		font-size: 12px;
		line-height: 21px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		cursor: pointer;
		z-index: 1;
		background-color: $color-red;
		color: $color-red;
		overflow: hidden;
		@include media($s) {
			left: 0;
			top: 0;
			//left: 45px;
			//top: 35px;
			//width: auto;
			//height: auto;
			//color: #cccccc;
			//background-color: transparent;
			//overflow: auto;
		}
		&:before,
		&:after {
			content: '';
			position: absolute;
			width: 60%;
			height: 2px;
			top: 18px;
			left: 8px;
			transform: rotate(45deg);
			background-color: #fff;
			//@include media($s) {
			//	display: none;
			//}
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}