.l-table {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	overflow: hidden;
	@media (min-width: $m) {
		flex-direction: row;
		padding: 0 2.7%;
		& > *:first-child,
		& > *:nth-child(5n+1){
			.c-column-content__title-background  {
				position: relative;
				&:before {
					content: "";
					height: 100%;
					width: 100%;
					position: absolute;
					left: -100%;
					top: 0;
					background-color: #e3df88;
				}
			}
		}
		& > *:last-child,
		& > *:nth-child(5n) {
			.c-column-content__title-background {
				position: relative;
				&:after {
					content: "";
					height: 100%;
					width: 100%;
					position: absolute;
					right: -100%;
					top: 0;
					background-color: #e3df88;
				}
			}
		}
	}
	@media (min-width: $xl) {
		padding:0 5.5%;
	}
	&__column {
		flex: 1;
		min-width: 20%;
		border-right: solid 2px white;
		padding-bottom: 30px;
		@include media($m) {
			padding-bottom: 95px;
		}
	}

}