body#tinymce {
  margin: 12px !important;
  font-size: 16px;
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18.7px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 13.5px;
  }
  h6 {
    font-size: 10.7px;
  }
  ul, ol {
    list-style: inherit;
    padding: inherit;
    margin: inherit;
  }
}
