$headings : h1 h2 h3 h4 h5 h6;
$font-size-base : 15px;

$font-size-upper : 36px;
$font-size-dec : 8px;

body {
	@each $heading in $headings{
		#{$heading} {
			font-size : $font-size-upper;
			font-size : ($font-size-upper / $font-size-base) + em;
			margin-top: 0;
		}
		$font-size-upper : $font-size-upper - $font-size-dec;

	}
	dd {
		margin: 0;
	}
	p {
		margin-top: 0;
		line-height: 1.5em;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	img {
		display: block;
		height: auto;
	}
	ul, ol {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	button, a {
		cursor: pointer;
	}
	button {
		border: none;
	}
	a, button, input, textarea {
		font-family: inherit;
		&:focus {
			outline: none;
		}
	}
	input, textarea, button {
		background:none;
	}
}

body {
    margin: 0;
	font-family: $font-body;
	color: 	$color-text;
	* {
		box-sizing: border-box;
	}
    &[data-lightbox-open] {
        overflow: hidden;
    }
}

