/** Colors */
$color-red: rgba(218, 40, 28, 1);
$color-dark-red: #cd1a12;
$color-blue: #59bec9;
$color-gray: #a8a59e;
$color-light-gray: #f0f0f0;

$color-text: #262729;

$color-bg-yellow: #e3df88;
$color-bg-light: #f1f0ef;
$color-bg-black: #262729;

$color-border-light: #f3f2f1;


/** Box Model  */
$spacer:                2rem;

$xs:				480px;
$s:					768px;
$m:					970px;
$l:					1024px;
$xl:				1280px;
$xxl:				1600px;


// https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
@include font-face('Gotham-Black', '../fonts/Gotham-Black', null, null, woff ttf);
@include font-face('Gotham-Book', '../fonts/Gotham-Book', null, null, woff ttf);
@include font-face('Gotham-Bold', '../fonts/Gotham-Bold', null, null, woff ttf);
@include font-face('Gotham-Light', '../fonts/Gotham-Light', null, null, woff ttf);
@include font-face('Gotham-Medium', '../fonts/Gotham-Medium', null, null, woff ttf);
@include font-face('Gotham-MediumItalic', '../fonts/Gotham-MediumItalic', null, null, woff ttf);
@include font-face('Gotham-LightItalic', '../fonts/Gotham-LightItalic', null, null, woff ttf);
@include font-face('Gotham-XLight', '../fonts/Gotham-XLight', null, null, woff ttf);
@include font-face('Gotham-BookItalic', '../fonts/Gotham-BookItalic', null, null, woff ttf);


// Fonts
$font-black: 'Gotham-Black', sans-serif;
$font-body: 'Gotham-Book', sans-serif;
$font-medium: 'Gotham-Medium', sans-serif;
$font-light: 'Gotham-Light', sans-serif;
$font-bold: 'Gotham-Bold', sans-serif;
$font-medium-it: 'Gotham-MediumItalic', sans-serif;
$font-light-it: 'Gotham-LightItalic', sans-serif;
$font-book-it: 'Gotham-BookItalic', sans-serif;
$font-xlight: 'Gotham-XLight', sans-serif;
$font-black: 'Gotham-Black', sans-serif;
