.u-relative {
	position: relative;
}

.u-display-none {
	display: none;
}

.u-negative-margin {
	margin-top: -15px;
}

body.js-nav-open {
	overflow: hidden;
}

.u-flex{
	display: flex;
}

.u-flex-padding{
	padding-left: calc(24% + 10px);
	@media (min-width: 450px) {
		padding-left: 115px;
	}
}

.u-overflow-hidden {
	overflow: hidden;
}

.u-flex-row-reverse{
	@media (min-width: $s) {
		flex-direction: row-reverse;
	}
}

.u-max-width:only-child{
	@media (min-width: $s) {
		flex-basis: 100%;
		max-width: 100%;
	}
}

.u-text-editor-max-width{
	max-width: 700px;
	margin: 0 auto;
}

.u-content-box{
	box-sizing: content-box;
}

.u-p-x-9 {
	padding: 0 9px;
}