@mixin media( $args ) {
    $size: nth($args, 1);
    $mode: min-width;
    @if length($args) > 1 {
        $mode: nth($args, 1);
        $size: nth($args, 2);
    }
    @else {
        $mode: min-width;
        $size: nth($args, 1);
    }
    @media ($mode: $size ) {
        @content;
    }
}
@mixin bg-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@mixin parent-size {
	width: 100%;
	height: 100%;
}
@mixin fill($position: absolute) {
    position:$position;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
@mixin flex-center() {
	display: flex;
	align-items: center;
}
@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > * {
        @include fill;
    }
}
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        @content;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        @content;
    }
    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }
}
@mixin fade($type, $time:.15s, $delay: 0s) {
	@if $type == 'hide' {
		visibility: hidden;
		opacity: 0;
		transition: visibility $time ease $delay, opacity $time ease $delay;
	}
	@else if $type == 'show' {
		visibility: visible;
		opacity: 1;
		transition: visibility $time ease $delay, opacity $time ease $delay;
	}
}
@mixin min-max($min: 0px, $max: $m, $margin: auto) {
    min-width: $min;
    max-width: $max;
    margin: $margin;
}
@mixin v-out($translateY: 40px, $time: .3s, $delay: 0s, $fn: cubic-bezier(.66,.13,.15,.59)) {
	visibility: hidden;
	opacity: 0;
	transform: translate3d(0,$translateY,0);
	transition: transform  $fn $time $delay, opacity ease-in-out $time $delay, visibility ease-in-out $time $delay;
}
@mixin v-in($translateY: 0,  $time: .3s, $delay: 0s, $fn: cubic-bezier(.66,.13,.15,.59)) {
	transition: transform  $fn $time $delay, opacity ease-in-out $time $delay, visibility ease-in-out $time $delay;
	transform: translate3d(0,$translateY,0);
	opacity: 1;
	visibility: visible;
}

@keyframes up {
	0%{
		opacity: 0;
		transform: translateY(100px);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes down {
	0%{
		opacity: 1;
		transform: translateY(0);
	}
	100%{
		opacity: 0;
		transform: translateY(100px);
	}
}
